.questionnaire {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem 5%;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 4px 8px var(--primary-color);
    border-radius: 20px;
    width:100%;
    padding:2rem;
}

.formLogo {
    position: absolute;
    top:0;
    right:0;
    width:20%;
    height: auto;
}
.page{
    display:grid;
    grid-template-rows: 3;
    padding:2rem;
    width: 100%
}

.page button {
    width: 10rem;
    justify-self: center;
    margin-top: 2rem;
    
}

.formButton {
    display: flex;
    justify-content: space-between;
    margin:0 1rem 0 1rem;
}

.formButton button {
    flex: 1;
    max-width: 10rem;

}
.page h2{
    text-align: center;
    color: var(--text-color);
    grid-row: 1;
    align-items: center;
    

}


.page p, input p {
    text-align: center;
    color: var(--text-color);
    grid-row: 2;
    
}
.form {
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    color: var(--text-color);
    justify-content: center;
}

.form span{
    justify-self: center;
}
.questions {
    flex:1 1 40rem;
    min-width: 15rem;
    max-width: 100%;
    display : grid;
   
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    margin: 1rem;


}

.questionsPhoto, .modifyProfil {
    flex:1 1 100%;
    min-width: 15rem;
    max-width: 100%;
    display : flex;
    justify-content: space-evenly;
    margin: 1rem
}



.firstButton {
    text-align: center;
    grid-column: 1/-1;
    grid-row: 5;
}
.form .setPage{
    grid-column: 1/-1;
    width:100%;
    
}

.question label {
    grid-column: 1;
}
.questions input, .questions select {
    grid-column: 2;
    height: 2rem;
    padding: 0 1rem;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 1px 2px var(--primary-color);
    border-radius: .75rem;
    align-content: center;
    
}

.setPage {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 7;
}

.formatError {
    width:100%;
    align-self: center;
    justify-self: center;
    
}

.formatError p {
    color: red;
}

.setPage h5 {
    grid-row:1;
    justify-self: center;
    font-size: 1rem;
}
.setPageNumber{
    grid-row: 2;
    display:flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.setPageNumber p {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 1px 2px var(--primary-color);
    border-radius: .75rem;
    margin: 0.25rem;
    color: var(--primary-color);
    height: 2rem;
    width: 2rem;
    align-content: center;
    ;
}

.setPageNumber p:hover{
    background-color: var(--secondary-color);
    cursor:pointer;
}

.questions label, .questions input, .questions select, .questionsPhoto label {
    margin: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

input[type="range"] {
    -webkit-appearance: none; /* Supprimer le style par défaut */
    appearance: none; /* Pour Firefox */
    width: 100%;  /* Largeur du curseur */
    height: 1rem;  /* Hauteur du curseur */
    background-color: var(--secondary-color); /* Couleur du curseur */
    border-radius: 3rem; /* Rendre le curseur circulaire */
    cursor: pointer; /* Changer le curseur à la souris */
    color: var(--primary-color);
    
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);/* Couleur du curseur */
    border-radius: 50%; /* Rendre le curseur circulaire */
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 2rem; /* Largeur du curseur */
    height: 2rem; /* Hauteur du curseur */
    background-color: var(--primary-color); /* Couleur du curseur */
    border-radius: 50%; /* Rendre le curseur circulaire */
    cursor: pointer;
  }

  .range-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 2rem;

  }

  .profilPhoto{
    justify-content: center;
    width: 8rem;   
    height: 8rem; 
    border-radius: 50%; 
    object-fit: cover;  
    border: 2px solid #ccc;  
    padding: 2px;

  }

  .questions button {
    height: 2rem;
  }

  .modifyProfil{
    min-width: 40%;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 1rem;
    
  }

  

  .modifyProfil input{
    flex: 2

  }

  .annulerButton{
    flex: 1;
    height:2rem;
    align-items: center;
  }
  